{% block aggro_entity_detail %}
    <sw-page class="aggro-entity-detail">

        {% block aggro_entity_detail_header %}
            <template #smart-bar-header>
                <h2>{{ placeholder(editEntity, 'name', $tc('aggro.entity-detail.textHeadline')) }}</h2>
            </template>

        {% endblock %}

        {% block aggro_entity_detail_actions %}
            <template #smart-bar-actions>

                {% block aggro_entity_detail_actions_abort %}
                    <sw-button
                            v-tooltip.bottom="tooltipCancel"
                            :disabled="entityIsLoading || undefined"
                            @click="onCancel"
                    >
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block aggro_entity_detail_actions_save %}
                    <sw-button-process
                            v-model:process-success="isSaveSuccessful"
                            v-tooltip.bottom="tooltipSave"
                            class="aggro-entity-detail__save-action"
                            :is-loading="isLoading"
                            :disabled="isLoading || !acl.can(entity+'.editor') || undefined"
                            variant="primary"
                            @click.prevent="onSave"
                    >
                        {{ $tc('aggro.entity-detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}

            </template>
        {% endblock %}

        {% block aggro_entity_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                        :disabled="entityId == null || undefined"
                        :save-changes-function="saveOnLanguageChange"
                        :abort-change-function="abortOnLanguageChange"
                        @on-change="onChangeLanguage"
                />
            </template>
        {% endblock %}

        {% block aggro_entity_detail_content %}
            <template #content>
                <sw-card-view>
                    <template v-if="entityIsLoading">
                        <sw-skeleton variant="detail-bold" />
                        <sw-skeleton />
                    </template>

                    <template v-else>

                        {% block aggro_entity_detail_content_language_info %}
                            <sw-language-info
                                    :entity-description="placeholder(entity, 'name', $tc('aggro.entity-detail.textHeadline'))"
                            />
                        {% endblock %}

                        {% block aggro_entity_detail_content_tabs %}
                            <sw-tabs
                                    v-if="!isCreateMode"
                                    class="aggro-entity-detail__tabs"
                                    position-identifier="aggro-entity-detail-tabs"
                                    :default-item="forms[0].ident"
                            >

                                <template #default="{ active }">
                                    <sw-tabs-item
                                            v-for="form in forms"
                                            :key="`tab-item-${form.ident}`"
                                            class="aggro-entity-detail__tab-item"
                                            :name="form.ident"
                                            :active-tab="active"
                                    >
                                        {{ $tc(form.title) }}
                                    </sw-tabs-item>
                                </template>

                                <template #content="{ active }">
                                    <template
                                            v-for="form in forms"
                                            :key="`tab-${form.ident}`"
                                    >
                                        <div
                                                v-if="active === form.ident"
                                                class="aggro-entity-detail__tab"
                                        >
                                            <sw-card
                                                    v-for="card in form.cards"
                                                    :key="`card-${card.ident}`"
                                                    class="aggro-entity-detail__card"
                                                    :class="card.grid ? '--has-grid' : ''"
                                                    position-identifier="`aggro-entity-detail-tab-${card.ident}`"
                                                    :title="card.title ? $tc(card.title) : ''"
                                            >
                                                <template v-if="!isLoading">
                                                    <div class="aggro-entity-detail__grid-toolbar" v-if="!editEntity.isNew() && card.grid">
                                                        <sw-container
                                                                columns="1fr 32px minmax(100px, 200px)"
                                                                gap="0 10px"
                                                        >
                                                            <sw-simple-search-field
                                                                    v-model:value="gridSearchTerm[card.grid.ref]"
                                                                    size="small"
                                                                    variant="form"
                                                                    @search-term-change="onGridSearch(card.grid)"
                                                            />
                                                            <sw-button
                                                                    square
                                                                    size="small"
                                                                    :disabled="!gridSelection[card.grid.ref] || gridSelection[card.grid.ref].length === 0"
                                                                    class="aggro-entity-detail__grid-delete-button"
                                                                    @click="onDeleteGridEntity(card.grid)"
                                                            >
                                                                <sw-icon
                                                                        name="regular-trash"
                                                                        small
                                                                />
                                                            </sw-button>

                                                            <sw-container>
                                                                <sw-button
                                                                        size="small"
                                                                        class="aggro-entity-detail__grid-add-button"
                                                                        @click="onAddGridEntity(card.grid)"
                                                                >
                                                                    {{ $tc('aggro.entity-detail.addOption') }}
                                                                </sw-button>
                                                            </sw-container>
                                                        </sw-container>
                                                    </div>
                                                    <sw-container :columns="card.columns || '1fr'" gap="0px 30px" v-if="card.fields">
                                                        <template v-for="field in card.fields" :key="field.ref">
                                                            <aggro-form-field-renderer
                                                                :field="field"
                                                                :edit-entity="editEntity"
                                                            />
                                                        </template>
                                                    </sw-container>
                                                    <component :is="card.component" v-if="card.component" :edit-entity="editEntity" />
                                                </template>
                                                <template #grid v-if="card.grid">
                                                    <sw-empty-state
                                                            v-if="editEntity.isNew()"
                                                            title=""
                                                            :subline="$tc('aggro.entity-detail.optionEmptyStateSubline')"
                                                            :absolute="false"
                                                    >
                                                        <template #icon>
                                                            <img
                                                                    :src="assetFilter('/administration/static/img/empty-states/products-empty-state.svg')"
                                                                    alt=""
                                                            >
                                                        </template>
                                                    </sw-empty-state>
                                                    <sw-one-to-many-grid
                                                            v-else
                                                            :ref="(el) => gridRefs[card.grid.ref] = el"
                                                            :is-loading="gridLoading[card.grid.ref]"
                                                            :collection="editEntity[card.grid.ref]"
                                                            :data-source="editEntity[card.grid.ref]"
                                                            :columns="card.grid.columns"
                                                            :full-page="false"
                                                            :local-mode="editEntity.isNew()"
                                                            :allow-inline-edit="acl.can(gridEntity(card.grid)+'.editor')"
                                                            :sort-by="getGridSortBy(card.grid)"
                                                            :sort-direction="getGridSortDirection(card.grid)"
                                                            @selection-change="onGridSelectionChanged(card.grid, $event)"
                                                    >

                                                        <template #column-name="{ item, isInlineEdit }">
                                                            <template v-if="isInlineEdit">
                                                                <sw-text-field
                                                                        v-model:value="item.name"
                                                                        size="small"
                                                                />
                                                            </template>

                                                            <a
                                                                    v-else
                                                                    class="aggro-entity-detail__grid-detail-link"
                                                                    role="button"
                                                                    tabindex="0"
                                                                    @click="onEditGridEntity(card.grid,item)"
                                                                    @keydown.enter="onEditGridEntity(card.grid,item)"
                                                            >
                                                                {{ item.translated.name }}
                                                            </a>
                                                        </template>

                                                        <template
                                                                v-for="(renderer, column) in gridColumnRenderers(card.grid)"
                                                                #[`column-${column}`]="{ item }"
                                                        >
                                                            {{ renderer(item) }}
                                                        </template>

                                                        <template #more-actions="{ item }">
                                                            <sw-context-menu-item
                                                                    class="aggro-entity-detail__grid-edit-action"
                                                                    :disabled="!acl.can(gridEntity(card.grid)+'.editor')"
                                                                    @click="onEditGridEntity(card.grid,item)"
                                                            >
                                                                {{ $tc('aggro.entity-detail.contextMenuView') }}
                                                            </sw-context-menu-item>
                                                        </template>

                                                        <template #delete-action="{ item }">
                                                            <sw-context-menu-item
                                                                    variant="danger"
                                                                    :disabled="!acl.can(gridEntity(card.grid)+'.editor')"
                                                                    @click="onDeleteSingleGridEntity(card.grid,item.id)"
                                                            >
                                                                {{ $tc('aggro.entity-detail.contextMenuDelete') }}
                                                            </sw-context-menu-item>
                                                        </template>
                                                    </sw-one-to-many-grid>
                                                    <sw-modal
                                                        :title="gridEditEntity?.name ? gridEditEntity.name : $tc('aggro.entity-detail.editGridHeadline')"
                                                        @modal-close="onCancelEditGridEntity"
                                                        v-if="editedGrid?.ref === card.grid.ref && gridEditEntity"
                                                    >
                                                        <sw-container columns="1fr" gap="0px 30px">
                                                            <template v-for="gridField in card.grid.fields" :key="gridField.ref">
                                                                <aggro-form-field-renderer
                                                                        :field="gridField"
                                                                        :edit-entity="editEntity"
                                                                        :grid-edit-entity="gridEditEntity"
                                                                />
                                                            </template>
                                                        </sw-container>
                                                        <template #modal-footer>
                                                                <sw-button
                                                                        size="small"
                                                                        @click="onCancelEditGridEntity"
                                                                >
                                                                    {{ $tc('global.default.cancel') }}
                                                                </sw-button>
                                                                <sw-button
                                                                        variant="primary"
                                                                        size="small"
                                                                        @click="onSaveGridEntity"
                                                                >
                                                                    {{ $tc('global.default.apply') }}
                                                                </sw-button>
                                                        </template>
                                                    </sw-modal>
                                                </template>
                                            </sw-card>
                                        </div>
                                    </template>
                                </template>
                            </sw-tabs>
                        {% endblock %}

                        {% block aggro_entity_detail_custom_field_sets %}
                            <sw-card
                                    v-if="customFieldSets.length > 0"
                                    position-identifier="aggro-entity-detail-custom-field-sets"
                                    :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                                    :is-loading="entityIsLoading"
                            >
                                <sw-custom-field-set-renderer
                                        v-if="editEntity"
                                        :entity="editEntity"
                                        :sets="customFieldSets"
                                        :disabled="!acl.can(entity+'.editor') || undefined"
                                />
                            </sw-card>
                        {% endblock %}
                    </template>
                </sw-card-view>
            </template>
        {% endblock %}

        {% block aggro_entity_detail_sidebar %}
            <template #sidebar>
                <sw-sidebar :propagate-width="true">
                    <sw-sidebar-media-item
                            ref="mediaSidebarItem"
                            :disabled="!acl.can(entity+'.editor') || undefined"
                    >
                        <template
                                #context-menu-items="media"
                        >
                            <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                                {{ $tc('aggro.entity-detail.labelUseAsLogo') }}
                            </sw-context-menu-item>
                        </template>
                    </sw-sidebar-media-item>
                </sw-sidebar>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}